html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #f00; }

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }