@model IEnumerable<System.Security.Claims.Claim>
@{
}
<ul>
	@foreach (var claim in Model)
	{
		<li>@claim.Type @claim.Value</li>
	}
</ul>
<form asp-controller="Cabinet" asp-action="LogOut">
	<input type="submit" value="Выйти">
</form>